.padding30{
	padding:30px;
}
.fixfullscreen{
    height: 100%;
}
.text-link{
    color:blue;
    text-decoration: underline;
    cursor:pointer;
}
.button-action{
    width: 30px;
    height: 30px;
}
.button-action i{
    font-size: 14px !important;
}
.margin10{
	margin:10px;
}
.bgwhite
{
	background-color: white !important;
}
.marginleft30{
	margin-left: 30px !important;
}
.marginhorizontal10{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.searchwidth{
	width: 50% !important;
}

.margintopmin5{
	margin-top: -5px !important;
}

.margintop10bottom0
{
	margin-top: 10px !important;
	margin-bottom: 0px !important;
}

